body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color: darkslategrey;
    font-weight: 900;
    font-size: xxx-large;
    text-shadow: 1px 1px rgb(32, 32, 32);
}
.navbar {
    display: flex;
    font-size: x-large;
    font-weight: 700;
    justify-content: center;
    list-style-type: bone;
}
.navbar a{
    text-decoration: none;
    color: cadetblue;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
}
div h2{
    margin-left: 50px;
    color: rgb(94, 92, 92);
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 1px;
    justify-content: center;
}
#why{
    margin-left: 35px;
    font-size: x-large;
    color: rgba(94, 89, 94, 0.979);
    font-weight: 600;
}
p{
    text-align: justify;
    font-size: larger;
    margin-left: 20px;
    margin-right: 50px;
}
.card h3{
text-align: center;
font-size: x-large;
color: dimgray;
}
.card {
    display: flex;
    width:fit fit-content;
    max-height: 600px;
}
.card .Nature img{
    display: inline-flex;
    gap: 25px;
    height: 500px;
    width: 500px;
}
.card .Nuture{
    gap: 25px;
    height: 500px;
    width: 400px;
}
.card img{
    gap: 25px;
    display: flex;
    max-height:1200px ;
    max-width: 600px;
    gap: 25px;
}