@media screen (min-width: 300px;) and (max-width: 1300px;){
    body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: 'Times New Roman', Times, serif;
            width: 90%;
    }
    
}
body{
    background-color: rgb(179, 214, 200);
}
h1{
    text-align: center;
    color: darkslategrey;
    font-weight: 900;
    font-size: xxx-large;
    text-shadow: 1px 1px rgb(32, 32, 32);
}
.navbar {
    display: flex;
    font-size: x-large;
    font-weight: 700;
    justify-content: center;
    list-style-type: bone;
    background-color: rgb(182, 223, 209);
}
.navbar a{
    text-decoration: none;
    color: cadetblue;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
}
a:hover{
 color: darkgrey;
}
div h2{
    margin-left: 50px;
    color: rgb(94, 92, 92);
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 1px;
    justify-content: center;
    margin-bottom: 5px;
}
#bio{
    margin-top: 10px;
}
#why{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: x-large;
    color: rgba(94, 89, 94, 0.979);
    font-weight: 600;
}
p{
    text-align: justify;
    font-size: larger;
    margin-left: 20px;
    margin-right: 50px;
    margin: 0px;
    margin-bottom: 15px;
}
.card h3{
    padding-bottom: 0px;
    margin:0px;
    text-align: center;
    font-size: x-large;
    color: dimgray;
}
.card p{
    margin-top: 0px;
    padding-top: 0px;
}
.card {
    display: flex;
    gap:40px;
   
    border-radius: 30px;
    margin: 10px;
    width: 1100px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    
}
.card .Nature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    border: 5px solid rgb(133, 131, 131);
    background-color: rgb(26, 27, 29);
}
.card .Nature .nat-img{
    display: flex;
    gap: 20px;

}
.card .Nature .nat-img img{
    border-radius: 20px;
    height: 400px;
    width: 300px;
}
       
.card .Nuture{
    width: 550px;
    justify-items: center;
    border: 5px solid rgb(133, 131, 131);
    border-radius: 30px;
    background-color: rgb(101, 117, 100);

}
.card .Nuture h3{
    color: rgb(221, 220, 210);
}
.card .Nuture img{
    width: 500;
    border-radius: 15px;
    height: 420px;
}
.mor{
    display: flex;
    gap: 30px;
}
.mor{
    width:915px ;
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    padding:10px;
    border: 8px solid rgba(94, 89, 94, 0.979);
    background-color: bisque;
}
.mor img{
    gap: 30px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
#wild{
    align-items: center;
    display: flex;
    gap: 30px;
    width: 500px;
    height: 350px;
}
#ct5{
    color: rgb(134, 180, 174);
}
h5{
    padding-left: 50px;
    font-size: larger;
    margin-bottom: 0px;
}
.more h4{
    margin-left: 30px;
    font-size: larger;
    font-weight: 600;
}
.M-img a{
    text-decoration: none;
    color: rgb(21, 65, 104);
}
a:visited{
    color: aliceblue;
}
a:hover{
    color: green;
}
form h4{
    margin-left: 20px;
}
form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 15px;

}
#User-Name {
    border-radius: 10px;
    height: 20px;
}
#EMAIL{
    border-radius: 10px;
        height: 20px;
}
button{
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
}
.M-img ol{
    list-style-type: decimal;
    color: rgb(21, 65, 104);
}
ol{
    list-style-type:none;
    margin-top: 10px;
    font-weight: 800;
}
ol li{
    padding-bottom: 10px;
}
footer{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 1px 0.5px;
    color: black;
}