body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: 'Times New Roman', Times, serif;
    min-width: 300px;
    max-width: 1300px;
    align-items: center;
}
h1{
    text-align: center;
    color: darkslategrey;
    font-weight: 900;
    font-size: xxx-large;
    text-shadow: 1px 1px rgb(32, 32, 32);
}
.navbar {
    display: flex;
    font-size: x-large;
    font-weight: 700;
    justify-content: center;
    list-style-type: bone;
}
.navbar a{
    text-decoration: none;
    color: cadetblue;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 50px; 
}
div h2{
    margin-left: 50px;
    color: rgb(94, 92, 92);
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 1px 1px;
    justify-content: center;
}
#why{
    margin-left: 35px;
    font-size: x-large;
    color: rgba(94, 89, 94, 0.979);
    font-weight: 600;
}
p{
    text-align: justify;
    font-size: larger;
    margin-left: 20px;
    margin-right: 50px;
}
.card h3{
    padding-bottom: 0px;
    margin:0px;
    text-align: center;
    font-size: x-large;
    color: dimgray;
}
.card p{
    margin-top: 0px;
    padding-top: 0px;
}
.card {
    display: flex;
    gap:40px;
    margin: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.card .Nature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    border: 5px solid rgb(133, 131, 131);

}
.card .Nature .nat-img{
    display: flex;
    gap: 20px;

}
.card .Nature .nat-img img{
    border-radius: 20px;
    height: 400px;
    width: 300px;
}
       
.card .Nuture{
    width: 550px;
    justify-items: center;
    border: 5px solid rgb(133, 131, 131);
    border-radius: 30px;

}
.card .Nuture img{
    width: 500;
    border-radius: 15px;
    height: 420px;
}
.mor{
    display: flex;
    gap: 30px;

}
.mor{
    width:915px ;
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    padding:10px;
    border: 8px solid rgba(94, 89, 94, 0.979);
    background-color: bisque;
    justify-content: ;
}
.mor img{
    gap: 30px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
#wild{
    align-items: center;
    display: flex;
    gap: 30px;
    width: 500px;
    height: 350px;
}
